<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Aeroport</title>
</head>
<body>
    <h1>List Aeroport</h1>
    <table border="1">
        <tr>
            <th>nom</th>
            <th>ville</th>
          
        </tr>
        {% for a in aeroport %}
        <tr>
            <td>{{ a.nom }}</td>
            <td>{{ a.ville }}</td>
           
            
        </tr>
        {% endfor %}
    </table>
        
    </a>
</body>
</html>
