<h1>Book</h1>
<p>Title of book: {{ book.title }}</p>
<p>Publication date: {{ book.getPublicationDate() ? book.getPublicationDate()|date('Y-m-d') : 'Not specified' }}</p>
<p>Author: {{ book.author.username }}</p>